[submodule "vim/files/bundle/vundle"]
	path = vim/files/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "terminal/files/oh-my-zsh"]
	path = terminal/files/oh-my-zsh
	url = git://github.com/leafac/oh-my-zsh.git
[submodule "ruby/files/rbenv"]
	path = ruby/files/rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "ruby/files/ruby-build"]
	path = ruby/files/rbenv-plugins/ruby-build
	url = git@github.com:sstephenson/ruby-build.git
