[submodule "solarized"]
	path = solarized
	url = git://github.com/sgerrand/xfce4-terminal-colors-solarized.git
[submodule "zsh"]
	path = zsh
	url = git://github.com/leafac/oh-my-zsh.git
[submodule "vim/files/bundle/vundle"]
	path = vim/files/bundle/vundle
	url = git://github.com/gmarik/vundle.git
